<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\css\form_style.css">
    <title>Job Forms</title>
</head>
<body>
    <h1>Make your career preferences</h1>
    <p>Please fill out this form with the required information</p>
    <form action='/form-action1' method="POST">
      <fieldset>
        <label>what is your age?
            <select name="Age">
             <option value="0">20-25</option>
              <option value="1">26-30</option>
              <option value="2">30-35</option>
              <option value="3">36-40</option>
              <option value="4">40-45</option>
              <option value="5">46-50</option>
              <option value="6">50-55</option>
            </select>
          </label>
          <label>Where do you Stay?
            <select name="Location">
               <option value="0">Pune</option>
              <option value="1">Mumbai</option>
              <option value="2">Bengaluru</option>
              <option value="3">Hyderabad</option>
              <option value="4">Chennai</option>
            </select>
          </label>
          <label>Current Qualification
            <select name="Current Qualification">
              <option value="0">BE/Btech in CS</option>
              <option value="1">BE/Btech in AIDS</option>
              <option value="2">BE/Btech in ENTC</option>
              <option value="3">BE/Btech in Mechanical Engineering</option>
              <option value="4">BE/Btech in Chemical Engineering</option>
              <option value="5">BE/Btech in Electrical Engineering</option>
              <option value="6">MBBS</option>
              <option value="7">BAMS</option>
              <option value="8">BA in Psychology</option>
              <option value="9">MA in Psychology</option>
              <option value="10">BA in Literature</option>
              <option value="11">MA in Literature</option>
              <option value="12">LLB</option>
              <option value="13">BA.LLB</option>
              <option value="14">LLM</option>
              <option value="15">MBA</option>
              <option value="16">CA</option>
              <option value="17">B.com</option>
              <option value="18">BArch</option>
              <option value="19">Bsc</option>
              <option value="20">BA in social Science</option>
            </select>
          </label>
          <label>What is your Strength?
            <select name="Strength">
              <option value="0">Coding</option>
              <option value="1">Human Psychology</option>
              <option value="2">Human Biology</option>
              <option value="3">Law and Order</option>
              <option value="4">Literature</option>
              <option value="5">Machines</option>
              <option value="6">Chemistry</option>
              <option value="7">Maths</option>
              <option value="8">Construction and Structures</option>
              <option value="9">Social Studies</option>
              <option value="10">Web Development</option>
              <option value="11">Surgery</option>
              <option value="12">Designing</option>
              <option value="13">Finance</option>
              <option value="14">Administration</option>
            </select>
          </label>
          <label>What is your Experience?
            <select name="Experience">
               <option value="0">0</option>
              <option value="1">1-3years</option>
              <option value="2">3-5years</option>
              <option value="3">5-10years</option>
              <option value="4">10+ years</option>
            </select>
          </label>
          <label>What is your expectation per annum?
            <select name="Salary Expectation" >
              <option value="0">4-6l</option>
              <option value="1">6-8l</option>
              <option value="2">8-12l</option>
              <option value="3">12-18l</option>
              <option value="4">18-25l</option>
            </select>
          </label>
          <label>What are your Hobbies?
            <select name="Hobbies" >
               <option value="0">Writing</option>
              <option value="1">Reading</option>
              <option value="2">Working out</option>
              <option value="3">Painting</option>
              <option value="4">Politics</option>
              <option value="5">Organizing</option>
              <option value="6">Management</option>
              <option value="7">Practicals</option>
            </select>
          </label>

      <input type="submit" value="Submit" />
    </form>

</body>
</html>